<div class='about component_space' id='About'>
    <div class="container">
        <div class="row">
            <div class="Col_2">
                <img src=" " alt="" class="about_img"/>
            </div>
            <div class="col_2">
                <h1 class="about_heading">My works</h1>
                <div class="about_meta">
                    <p class="about_text p_color">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Incidunt porro consequuntur necessitatibus voluptas laboriosam mollitia accusamus 
                        dolores perspiciatis tempora ratione atque iure, dolor et eligendi nulla, fugit minus accusantium ipsam!
                    </p>
                    <p class="about_text p_color">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Accusamus quibusdam natus non at rerum saepe asperiores perspiciatis adipisci molestiae illum! 
                        Ab recusandae quisquam facere eius eaque deserunt, perspiciatis vero debitis!
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>