.navbar{
    background: black;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;

}

.navbar-logo{
    color: aliceblue;
    justify-self: start;
    margin-right: 250px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    align-items: center;
}
.nav-items{
    height: 80px;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-Links{
    color: aliceblue;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-size: 1.3rem;
    
}

.nav-links:hover{
    border-bottom: 4px solid #f2a93b;
}