
    <nav class="navbar">
        <div class="navbar-container">
            <h1 class="navbar-logo">PUSH</h1>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/home" class="nav-Links">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-Links">About</a>
                </li>
                <li class="nav-item">
                    <a href="/services" class="nav-Links">Services</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-Links">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

