
    <div>
      <div class="hero-container">
        <div class="hero_content">
          <div class="home">
            <h1 class="home_text">Welcome to my Portfolio</h1>
            <h2 class="home_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Ut vel totam quas voluptatibus fuga, possimus repudiandae illo consequatur nobis blanditiis,
             quidem ducimus unde quod labore minus quo, incidunt dolores ipsam!</h2>
          </div>
        </div>
      </div>
    </div>
