<div class="contain">
    <div class= "tittle">
      <div >
        <h1>We are </h1>
        <h1>Avalible 24/7</h1>
        <h1>"</h1>
      </div>

      <div class="swin">
        <div >
          <div>
            <h4>Lead Developer</h4>
            <h4>Olabinwoninu Samad </h4>
          </div>
          <div>
            <p>
              lead developer is a technology professional who guides projects and manages development teams. 
              They're often experienced experts with lots of industry 
              knowledge and skills that qualify them to mentor teams and communicate with others outside their department.
            </p>
          </div>
          <div class="pin">
            <div>
              <img src="" alt=" " />
            </div>
            <div>
              <h4>0902334457</h4>
              <p>Gbeyo@hotmail.com</p>
            </div>
          </div>
        </div>

        <div>
          <div>
            <h4>Lead Data Analyst</h4>
            <h4>Pablo Okelowo Ayo</h4>
          </div>
          <div>
            <p>
              lead analysts conduct market research and analyses, including the study of consumers and competitors.
               They look at resources, areas of strength and weakness in the business, and make projections. 
              With their research, they can uncover any concerns and help the company navigate resolutions.
            </p>
          </div>
          <div class="pin">
            <div>
              <img src="" alt=" " />
            </div>
            <div>
              <h4>0902287663</h4>
              <p>lakin88work@gmail.com</p>
            </div>
          </div>
        </div>
        <div>
          <div>
            <h4>Direector Ui/Ux</h4>
            <h4>Pa Togo Omotolani</h4>
          </div>
          <div>
            <p>
              A UI/UX designer's job is to create user-friendly interfaces that enable users to
               understand how to use complex technical products. 
              If you're passionate about the latest technology trends and devices, 
              you'll find great fulfillment in being involved in the design process
               for the next hot gadget. Switching between tasks.
            </p>
          </div>
          <div class="pin">
            <div>
              <img src="" alt=" " />
            </div>
            <div>
              <h4>0810744576</h4>
              <p>togoblack96@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>