<div class="hero-container">
    <div class="home-content">
      <div class="home">
        <h1 class="home_text pz_10">WELCOME TO MY WEBSITE</h1>
        <h2 class="home_text pz_10">Hi, i'm Olatunji Samuel</h2>
        <div class="i-title">
          <div class="i-title-wrapper">
            <div class="i-title-item">Web Developer</div>
            <div class="i-title-item">Civil Engineer</div>
            <div class="i-title-item">Excel</div>
            <div class="i-title-item">Corel-Draw</div>
          </div>
        
        </div>
        <h4 class="home_text pz_10">based in Nigeria </h4>
      </div>
      
    </div>
  </div>
