<div class="service component_space" id="service">
  <div class="heading">
    <h1 class="heading">My Awesome Service</h1>
    <p class="heading p_color">
      There are many variations of tech jobs available,
    </p>
    <p class="heading p_color">
      but the majority have suffered alteration.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col_3">
        <div class="service_box pointer">
          <div></div>
          <div class="service_meta">
            <h1 class="service_text">WEb Developer</h1>
            <p class="service_text p_color">
              I made use of my learning class and started building on the basic
            </p>
            <p class="service_text p_color">
              I made use of my learning class and build on the basic
            </p>
            <p class="service_text p_color">
              I made use of my learning class and build on the basic
            </p>
          </div>
        </div>
      </div>
      <div class="col_3">
        <div class="service_box pointer">
          <div></div>
          <div class="service_meta">
            <h1 class="service_text">Graphics Designer</h1>
            <p class="service_text p_color">
              I made use of my learning class and started building on the basic
            </p>
            <p class="service_text p_color">
              I made use of my learning class and build on the basic
            </p>
            <p class="service_text p_color">
              I made use of my learning class and build on the basic
            </p>
          </div>
        </div>
      </div>
      <div class="col_3">
        <div class="service_box pointer">
          <div class="icon"></div>
          <div class="service_meta">
            <h1 class="service_text">Corel Draw</h1>
            <p class="service_text p_color">
              I made use of my learning class and started building on the basic
            </p>
            <p class="service_text p_color">
              I made use of my learning class and build on the basic
            </p>
            <p class="service_text p_color">
              I made use of my learning class and build on the basic
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
